#define S_primary  #A162F7
#define S_primary_dark  #600ad5
#define S_primary_light  #4b367f

#define S_background         #0f172a
#define S_background2         #1e293b

! ============
!   Colors
! ============
; *primary:  #FF8226
; *primary-dark:  #63300b

*primary:  S_primary
*primary-dark:  S_primary_dark
*primary-light:  S_primary_light
*primary-text:   #FFFFFF
*primary-muted:   #C0CAF5
*secondary:  #475569
*active:    #cbd5e1

; * fading: 20
; *fadeColor: #5A638C

*background:  S_background
*background2:   S_background2  
*foreground:   #f1f5f9
*cursorColor:  #9aedfe

*color0:      #33303b
*color8:      #4f4b58
*color1:      #ff5c57
*color9:      #ff5c57
*color2:      #5af78e
*color10:     #5af78e
*color3:      #f3f99d
*color11:     #f3f99d
*color4:      #57c7ff
*color12:     #57c7ff
*color5:      #ff6ac1
*color13:     #ff6ac1
*color6:      #9aedfe
*color14:     #9aedfe
*color7:      #eff0eb
*color15:     #eff0eb

! ===================
!       urxvt
! ===================

URxvt*scrollBar:	    false
URxvt*letterSpace:  	0
URxvt.internalBorder: 16
URxvt*font: 		      xft:Fira Code:regular:size=10
URxvt*boldFont:		    xft:Fira Code:bold:size=10
URxvt*cursorBlink:    true
URxvt.iso14755:		    false
URxvt*utf8:			      true
URxvt.keysym.C-equal:      resize-font:bigger
URxvt.keysym.C-parenright: resize-font:smaller
URxvt*background: S_background2

! =================
!       Xft
! =================
Xft.dpi:          	96
Xft.antialias:     	true
Xft.rgba:			      subpixel
Xft.hinting:       	true
Xft.hintstyle:		  hintslight
! Xft.lcdfilter:	  lcddefault